.menu{
    background-color: #000;
    color: #fff;
}

ul{
    color: #fff;
}

.ativo{
    color:orange;
}


.slick-prev, .slick-next {
    z-index: 100 !important; 
   
}

.slick-prev:before, .slick-next:before {
    color: white !important;
}

.slick-prev {
    left: 25px !important; 
}

.slick-next {
    right: 25px !important; 
}

.slick-dots li button:before {
    color: #b72020 !important;
    font-size: 12px !important;
    opacity: 0.5;
}

.slick-dots li.slick-active button:before {
    color: rgb(116, 54, 54) !important;
    opacity: 1;
}

.parallax-banner {
    height: 350px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(0,0,0,0.3);
    background-blend-mode: overlay;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8)
}

.bannerdestaque{
    background-image: url('assets/vitrini.jpg');
    opacity: 0.9;
}

.bannercardapio{
    background-image: url('assets/latteart_banner.jpg');
}

.bannerequipe{
    background-image: url('assets/maquina_banner.jpg');
}

.bannereventos{
    background-image: url('assets/brinde_banner.jpg');
}

.bannergaleria{
    background-image: url('assets/foto_banner.jpg');
}

.bannerdepoimentos{
    background-image: url('assets/sorrisos_banner.jpg');
}


.banner p {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8) !important;
    font-weight: 700;
}

.arrendondado{
    border-radius: 25% 20%;
}

.cardhover img{
    width: 171px;
    height: 91px;
}

.botaocardapio{
     transition: 
        transform 0.5s ease; 
        box-shadow: 0.3s ease;
        background-color: 0.3 ease;
}

.botaocardapio a:hover{
    color:#ccc;
    border: solid 1px #ffe603;
    background-color: brown;
    transform: translateY(-2px) scale(1.05); /* Pra cima, %5 maior */
    box-shadow: 0 8px  20px rgba(51, 51, 51, 0.4); 
}

.cardequipe img{
    height: 180px;
    border-radius: 0 0 25% 25% ;
}


.cardeventos img{
    height: 200px;
    border-radius: 0 0 0 25%;
}

.galeria img{
    height: 167px;
}


@media only screen and (max-width: 1000px) {
    .anos {
        flex-direction: column !important; 
        align-items: center;              
        padding: 20px;      
        gap: 20px !important; 
    }
    .anos .card {
        width: 100% !important;
    }

    .anos img{
        width: 100%;
        border-radius: 0;
    }

     .cardapio {
        flex-direction: column !important; 
        align-items: center;              
        padding: 10px;      
        gap: 20px !important; 
    }
.banner .slide-item {
    height: 350px !important;
}

.banner .position-absolute {
    width: 90% !important;
    margin: 0 !important;
    padding: 20px !important;
    left: 5% !important;
    text-align: center !important;
}

.banner h1.display-4 {
    font-size: 1.8rem !important;
}

.banner p.lead {
    font-size: 1rem !important;
    margin-bottom: 15px;
}

.banner h1, .banner p {
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8) !important;
    font-weight: 500;
}

.banner .btn-lg {
    padding: 8px 20px;
    font-size: 0.9rem;
}
}

@media only screen and (min-width: 1000px) {
    .destaque{
    background-color: black;
}

}